{% extends 'layout.twig' %}

{% block title %}Página secreta{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
        .logout {
            display: block;
            margin: 0 auto;
            width: 100px;
            text-align: center;
            background-color: #f00;
            color: #fff;
            text-decoration: none;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Página secreta</h1>
    <h2>Hola {{ session.user.email }}, tu ID usuario es {{  session.user.id }}</h2>
    <a class="logout" href="{{ logoutUrl }}">Cerrar sesión</a>
{% endblock %}
